{%- extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>STEM Games 2020 Pre-Application</h2>
    <p>Fill this form out to state your interest to participate in the 2020 STEM Games.
    If you have any trouble filling out this form, contact us at help@stemgames.hr.</p>
  </div>
  <form class="form" action="" method="POST" role="form">
      {{ form.csrf_token }}
      <div class="form-row">
          <div class="col-6">
              {{ wtf.form_field(form.first_name) }}
          </div>
          <div class="col-6">
              {{ wtf.form_field(form.last_name) }}
          </div>
      </div>
  </form>
</div>
{% endblock %}
